.boxChat {
  max-width: 50%;
  margin: 0 auto;
  background-color: #abe5e9;
  height: 400px;
  margin-top: 90px;
}
.lightAreaChat {
  height: 80%;
  width: 100%;
  background-color: #288e95;
  color: #f9fdfd;
  overflow: scroll;
}
.searchAreaChat {
  width: 100%;
}

.headerPage {
  text-align: center;
  background-color: #288e95;
  color: #f9fdfd;
  padding: 20px;
}

.inputTextChat {
  width: 70%;
  margin-top: 30px;
}

.inputSubmitChat {
  width: 20%;
}

.conversation {
  padding: 8px;
  background: #f9fdfd;
  margin-top: 6px;
  width: 50%;
  color: #288e95;
}

.conversationBot {
  padding: 8px;
  background: #edd1e6;
  margin-top: 6px;
  width: 50%;
  color: #288e95;
}
